<p><%= link_to "Back to list", lists_path %></p>

<h2>Movies</h2>

 <% @list.bookmarks.each do |l| %>
    <h2><%= l.movie.title %></h2>
    <p><%= l.movie.overview %></p>
    <p><%= l.movie.poster_url %></p>
    <p><%= l.movie.rating %>/10</p>

<p><%= link_to "Delete",
        bookmark_path(l),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>

<% end %>
<p><%= link_to "New Bookmark", new_list_bookmark_path(@list)%></p>
